*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
}
.app{
   background-color: bisque;
   width: 90%;
   max-width: 600px;
   margin: 3rem auto 0;
   border-radius: 15px;
   padding: 40px;
}
.app h1{
    font-weight: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;

}

.quiz h2{
    margin: 20px 0;
}
.btn{
    background-color: aliceblue;
    color: black;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
     text-align: left; 
     border-radius: 4px;
     cursor: pointer;
     transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: aliceblue;
} 
.btn:disabled{
    cursor: no-drop;
}  
#nextbtn{
    padding: 10px;
    margin: 15px auto 0;
    width: 150px;
    font-size: 20px;
    border: 0;
    display: none;
    background:#001e4d;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}